* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animated_menu {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #222237;
    background-image: url("./images/BG@4x-100 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    background-blend-mode: overlay;
}
.animated_menu_title {
    position: absolute;
    top: 50px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    font-family: 'Open Sans';
}
.buttons {
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.cs_button {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 249px;
    height: 55px;
    padding: 17px 50px;
    line-height: 21px;
    color: #fff;
    border: 2px solid #CDB370;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.center_circle {
    position: relative;
    /*width: 300px;
    height: 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.center_circle .toggle {
    position: absolute;
    width: 180px;
    height: 180px;
    background: #00082B;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.4);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    z-index: 10;
}
.toggle h4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
.toggle p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.center_circle .border {
    background:linear-gradient(183.59deg, #A68543 5.79%, #F3E09C 42.28%, #CDB370 81.41%, #2F240E 123.67%);
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
}
.dotted_border {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 2px dashed #CDB370;
    border-radius: 50%;
}

.center_circle li {
    position: absolute;
    list-style: none;
    left: -175px;
    transform: rotate(calc(360deg / 8 * var(--i)))
                translateX(40px);
    transform-origin: 175px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 10;
}
.center_circle li::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #CDB370;
    border-radius: 50%;
    top: -6px;
    left: -6px;
}
ul.menu {
    position: absolute;
    color: #fff;
}
.menu li {
    position: absolute;
    list-style: none;
    top: -26px;
    left: -520px;
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(40px);
    transform-origin: 480px;
    transition: 0.5s;
    z-index: 10;
}

.menu li .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    line-height: 28.15px;
    color: #fff;
    transform: rotate(calc(360deg / -8 * var(--i)));
}
ion-icon {
    font-size: 18px;
    color: #CDB370;
}

.menu li:nth-child(1) {
    top: -35px;
    left: -535px;
}
.menu li:nth-child(2) {
    left: -480px;
    top: 90px;
}
.menu li:nth-child(3) {
    top: 92px;
    left: -494px;
} 
.menu li:nth-child(3) .circle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.menu li:nth-child(4) {
    left: -440px;
    top: 73px;
}
.menu li:nth-child(4) .circle, .menu li:nth-child(5) .circle, .menu li:nth-child(6) .circle {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
 .menu li:nth-child(5) {
    left: -498px;
    top: -30px;
}
.menu li:nth-child(6) {
    left: -492px;
    top: -140px;
}
.menu li:nth-child(7) {
    top: -210px;
    left: -492px;
}
.menu li:nth-child(7) .circle {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}
.menu li:nth-child(8) {
    left: -476px;
    top: -155px;
}

.menu .circle span {
    color: #CDB370;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon_box {
    position: relative;
    background-color: #00082B;
    padding: 10px;
    margin-left: 20px;
    border: 2px solid #CDB370;
    border-radius: 50%;
    z-index: 1;
}

 svg {
    position: absolute;
    width: 200;
    height: 200px;
    z-index: 50;
    left: -20px;
    top: -20px;
    
}
 svg circle {
    fill: none;
    stroke-width: 5;
    stroke: #A68543;
    stroke-dasharray: 255;
    stroke-dashoffset: 255;
    animation: anim 0.9s linear forwards;    
}
@keyframes anim {
    100% {
        stroke-dashoffset: 150;
    }
}

.menu_footer {
    position: absolute;
    bottom: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #CDB370;
    border-bottom: 1px solid #CDB370;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu_footer_links, .menu_footer_social {
    display: flex;
    column-gap: 15px;
}
.menu_footer_links li, .menu_footer_social li {
    list-style: none;
}
.menu_footer_links li a , .menu_footer_social li{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.menu_footer_copyright {
    position: absolute;
    bottom: 40px;
    color: #fff;
}